<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dan.kotlinflow">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_note"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/icon_note"
        android:supportsRtl="true"
        android:theme="@style/Theme.KotlinFlow">
        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!-- Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/tweets" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
<!--        <meta-data-->
<!--            android:name="com.google.android.gms.version"-->
<!--            android:value="@integer/google_play_services_version" />-->
<!--        <meta-data-->
<!--            android:name="com.google.android.gms.ads.AD_MANAGER_APP"-->
<!--            android:value="true" />-->
<!--        <meta-data-->
<!--            android:name="com.google.android.gms.ads.APPLICATION_ID"-->
<!--            android:value="@string/ADD_UNIT_ID"/>-->

        <activity android:name=".MainActivityTwitter"></activity>
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddnewNote"
            android:exported="true" />
        <activity
            android:name=".Notes"
            android:exported="true"></activity>
        <activity
            android:name=".NumCalculator"
            android:exported="true"
            android:label="@string/title_activity_num_calculator"
            android:theme="@style/Theme.KotlinFlow.NoActionBar" />
        <activity
            android:name=".TicTao"
            android:exported="true" />
        <activity android:name=".MainActivity" />

    </application>
</manifest>